/* Style for the Logout button */
.logout-btn {
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Style for the flight details container */
  .flight-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style for the flight details properties */
  .flight-details p {
    margin: 5px 0;
    font-size: 18px;
    text-align: center;
  }
  
  /* Style for the flight details title */
  .flight-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Style for the "More" button */
  .more-btn {
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
  }
  
  /* Style for the "More" button when it's hidden */
  .hide-btn {
    display: none;
  }
  
  /* Style for the "Less" button */
  .less-btn {
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
  }
  
  /* Style for the flight details container when it's hidden */
  .hide-container {
    display: none;
  }
  